body {
  background-color: rgb(218, 174, 133);
  font-family: Arial, Helvetica, sans-serif
}

html, body {
  height: 100%;
  margin: 0;
}
#wrap {
  /* display: flex;
  align-items: center; */
  /* justify-content: center; */
  /* height: 100%; */
  width: 700px;
  margin-left: 400px;
  margin-right: 250px;
  margin-top: 10px;
  
}
h1 {
  background-color: rgb(245, 245, 222);
  font-family: 'Caveat', cursive;
  text-align: center;
  text-transform: capitalize;
  font-weight: 900; 
  margin: auto;
  padding: 5px;
  border: 3px dashed rgb(48, 37, 51)
}
li {
  font-style: italic;
  list-style: none;
  text-align: center;
  line-height: 1.1;
  word-spacing: 1px;
  font-size: 16
  px;
  font-family: 'Montserrat Alternates', sans-serif;
}

li::first-letter{
  font-size: 1.5em;

}
p {
  padding: 20px; 
}

p, ul {
  background-color: rgb(245, 245, 222); 
  margin: auto;
  padding: 20px;
  text-align: left;
  border: 3px dashed rgb(48, 37, 51);
  border-top: none;
  border-bottom: none;
}
.copyright {
  border-bottom: 3px dashed rgb(48, 37, 51); 
  text-align: center;
}
a {
  text-decoration: none;
}