/* selector {
    property: value;
} */
* {
    text-align: center;
    font-family: 'Abel', sans-serif;
}
body {
    font-size: 30 px;
    background-image: url(background_image1.jpg);
    background-size: 1800px;

    width: 600px;
    height: 1800px;
    margin-left: 20px;
    
}
h2, h3, p {
    color: rgb(127, 81, 81);
    text-align: center;
    border: 5px double rgba(161, 153, 164, 0.2) ;
    cursor: pointer; 
    
}

img {
    float: right;
}

footer {
    clear: both;
    text-align: center;
    text-shadow: 2px 0px 7px black; 
    color: rgb(79, 47, 47);
    word-spacing: 0.2em;
}
p#newfont {
 
    
    color: rgb(79, 47, 47);
    text-transform:lowercase;
    /* line-height: 30px; */
    font-style: none;
    font-weight: bold; 
    font-size: 16px;
    letter-spacing: 2px;
    text-shadow: 2px 0px 7px black; 
    font-variant: small-caps;
    background-color: rgba(245, 228, 194, 0.4);
    border-top: none;
    border-radius: 10px;
    
    /* can even have multiple shadows separated by a comma! */
     /* text-decoration: underline; */
    
}

a {
    color: rgb(79, 47, 47);
    text-transform:lowercase;
    font-style: none;
    font-weight: bold; 
    text-decoration: none;
    
}

li {
   
 list-style: none;
 display: inline-block;
}
.webtext:first-child {
    border: 3px dashed rgba(142, 89, 5, 0.2);
}
.active:hover {
    color: black;
}
div {
    color: rgb(79, 47, 47);
    text-transform:lowercase; 
    background-color: rgba(245, 228, 194, 0.4);
    width: 200px;
    display: inline-block;
    border: 2px double black;
    padding: 10px 10px;
    border-bottom: none;
    border-radius: 6px 20px 6px 20px;

}
p#secondblock {
    background-color: rgba(245, 228, 194, 0.4); 
    display: inline-block;
    padding: 10px 10px;
    width: 200px;
    border: 2px double black;
    margin: 40px;
    border-bottom: none;
    border-radius: 20px 6px 20px 6px
}
#div1 {
    background:rgba(114, 95, 64, 0.5)
}

#div2 {
    background:rgba(97, 63, 8, 0.3) 
}
/* 
.class
#id
*
element
element, element
element element
element > element
element + element
:hover
:last-child
:first-child
!important (not recommended) */