* {
    font-family: 'Courgette', cursive;
}

body {
    background-image: url(background_id.jpg);
 
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  display: flex;
  flex-direction: column;
  gap: 10px;

}



header {
    width: 100%;
    height: 70px;
    background: beige; 
    background-color:rgb(227, 181, 115);
    border: solid black;
    border-radius: 30px 30px 1px 1px;
  }
.name {
    margin: 0;
    padding: 0;
    line-height: 8px;
    text-align: center;
  }
section {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
    justify-content: left;
    align-items: left;
    gap: 10px;
    
    
  }
  
  
#left-pane_pic {
    width: 100%;
    height: 400px;
    height: fit-content;

    border-radius: 30px 1px; 
  
  }

#left-pane_pic img {
   
    border-radius: 30px 1px; 
     width: 100%;
    }

  
#pane {
    display: block;
    height: fit-content;
    line-height: 20px;
    text-align: center;
    border: solid black;
    border-radius: 30px 1px; 
    width: 100%;
    background-color:rgb(227, 181, 115);
    
  }
      
  .container2 {
    display: flex;
    flex-direction: row;
    
    width: 100%;
    height: 100%;

  }
     
#bio {
    width: 100%;
    padding: 10px;
    height: 1000px;
    background-image: url(background_parchment.jpg);
    overflow: auto;
    border: solid black;
    border-radius: 1px 30px;
  }
  
    
  img {
   
   
    object-fit: contain;
    overflow: clip;
  }

 

  .button {
    width: 130px;
    height: 55px;
    background-color:rgb(227, 181, 115);
    border: solid black;
    border-radius: 1px 30px;
    margin: 10px;
    font-size: 15px;
    color: rgb(56, 43, 35);
    text-shadow: 0px 0px 1px rgba(197, 195, 195, 0.5);
    box-shadow: 2px 0px 2px rgba(90, 90, 90, 0.5);
    line-height: 20px;
  }

  a {
    text-decoration: none;
    color: brown;
    font-weight: bold;
    

  }
